<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="me.glindholm.plugin.bracketeer2.processorsFactory" name="%processorFactory.extension-point.name" schema="schema/me.glindholm.plugin.bracketeer2.processorsFactory.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Bracketeer.preferencePages.Main"
            class="me.glindholm.plugin.bracketeer2.preferences.HighlightingBracketsPrefPage"
            id="Bracketeer.preferencePages.Main.BracketHighlighting"
            name="%page.highlight">
         <keywordReference
               id="me.glindholm.plugin.bracketeer2.keywords.bracketHighlighting">
         </keywordReference>
      </page>
      <page
            category="org.eclipse.ui.preferencePages.Editors"
            class="me.glindholm.plugin.bracketeer2.preferences.MainPrefPage"
            id="Bracketeer.preferencePages.Main"
            name="%page.main">
         <keywordReference
               id="me.glindholm.plugin.bracketeer2.keywords.main">
         </keywordReference>
      </page>
      <page
            category="Bracketeer.preferencePages.Main"
            class="me.glindholm.plugin.bracketeer2.preferences.HintsPrefPage"
            id="Bracketeer.preferencePages.Main.Hint"
            name="%page.hints">
         <keywordReference
               id="me.glindholm.plugin.bracketeer2.keywords.hints">
         </keywordReference>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="me.glindholm.plugin.bracketeer2.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="me.glindholm.plugin.bracketeer2.core.Startup"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
        
         <toolbar
               id="me.glindholm.plugin.bracketeer2.toolbar"
               label="%toolbar.label">
            <command
                  commandId="me.glindholm.plugin.bracketeer2.commands.EnableSurroundingBrackets"
                  icon="icons/surrounding.gif"
                  label="%command.surrounding.name"
                  style="toggle"
                  tooltip="%command.surrounding.description">
            </command>
            <command
                  commandId="me.glindholm.plugin.bracketeer2.commands.EnableHoveredBrackets"
                  icon="icons/hoveredBrackets.gif"
                  label="%command.hoveredBrackets.name"
                  style="toggle"
                  tooltip="%command.hoveredBrackets.description">
            </command>
            <command
                  commandId="me.glindholm.plugin.bracketeer2.commands.EnableHintsInEditor"
                  icon="icons/hint.gif"
                  label="%command.editorHints.name"
                  style="toggle"
                  tooltip="%command.editorHints.description">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="me.glindholm.plugin.bracketeer2.category"
            description="%command.surrounding.description"
            id="me.glindholm.plugin.bracketeer2.commands.EnableSurroundingBrackets"
            name="%command.surrounding.name">
         <state
               class="me.glindholm.plugin.bracketeer2.commands.BracketeerToggleState:Surrounding.Enable"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="me.glindholm.plugin.bracketeer2.category"
            description="%command.hoveredBrackets.description"
            id="me.glindholm.plugin.bracketeer2.commands.EnableHoveredBrackets"
            name="%command.hoveredBrackets.name">
         <state
               class="me.glindholm.plugin.bracketeer2.commands.BracketeerToggleState:Hovering.Enable"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            categoryId="me.glindholm.plugin.bracketeer2.category"
            description="%command.editorHints.description"
            id="me.glindholm.plugin.bracketeer2.commands.EnableHintsInEditor"
            name="%command.editorHints.name">
         <state
               class="me.glindholm.plugin.bracketeer2.commands.BracketeerToggleState:Hints.Globals.ShowInEditor"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <category
            id="me.glindholm.plugin.bracketeer2.category"
            name="%category.name">
      </category>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="me.glindholm.plugin.bracketeer2.commands.BracketeerToggleCommandHendler"
            commandId="me.glindholm.plugin.bracketeer2.commands.EnableSurroundingBrackets">
         <activeWhen>
            <with
                  variable="me.glindholm.plugin.bracketeer2.pluginName">
               <not>
                  <equals
                        value="">
                  </equals>
               </not>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="me.glindholm.plugin.bracketeer2.commands.BracketeerToggleCommandHendler"
            commandId="me.glindholm.plugin.bracketeer2.commands.EnableHoveredBrackets">
         <activeWhen>
            <with
                  variable="me.glindholm.plugin.bracketeer2.pluginName">
               <not>
                  <equals
                        value="">
                  </equals>
               </not>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="me.glindholm.plugin.bracketeer2.commands.BracketeerToggleCommandHendler"
            commandId="me.glindholm.plugin.bracketeer2.commands.EnableHintsInEditor">
         <activeWhen>
            <with
                  variable="me.glindholm.plugin.bracketeer2.pluginName">
               <not>
                  <equals
                        value="">
                  </equals>
               </not>
            </with>
         </activeWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.services">
      <sourceProvider
            provider="me.glindholm.plugin.bracketeer2.commands.SourceProvider">
         <variable
               name="me.glindholm.plugin.bracketeer2.pluginName"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   <extension
         point="org.eclipse.ui.keywords">
      <keyword
            id="me.glindholm.plugin.bracketeer2.keywords.bracketHighlighting"
            label="%page.highlight.keyword">
      </keyword>
      <keyword
            id="me.glindholm.plugin.bracketeer2.keywords.hints"
            label="%page.hints.keyword">
      </keyword>
      <keyword
            id="me.glindholm.plugin.bracketeer2.keywords.main"
            label="%page.main.keyword">
      </keyword>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="me.glindholm.plugin.bracketeer2.commands.EnableSurroundingBrackets"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+[ CTRL+S">
      </key>
      <key
            commandId="me.glindholm.plugin.bracketeer2.commands.EnableHintsInEditor"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+[ CTRL+H">
      </key>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="context.xml"
            plugin="me.glindholm.plugin.bracketeer2.core">
      </contexts>
   </extension>
   <extension
         id="me.glindholm.plugin.bracketeer2.unmatchedBracket.marker"
         name="%missingPairMarker.label"
         point="org.eclipse.core.resources.markers">
   </extension>
   <extension
         point="org.eclipse.ui.editors.annotationTypes">
      <type
            markerSeverity="1"
            markerType="me.glindholm.plugin.bracketeer2.unmatchedBracket.marker"
            name="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation"
            super="org.eclipse.ui.workbench.texteditor.error">
      </type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation"
            colorPreferenceKey="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation.color"
            colorPreferenceValue="250,0,0"
            contributesToHeader="false"
            highlightPreferenceValue="false"
            includeOnPreferencePage="true"
            isGoToNextNavigationTarget="false"
            isGoToNextNavigationTargetKey="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation.goToNext"
            isGoToPreviousNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation.goToPrev"
            label="%missingPairMarker.label"
            overviewRulerPreferenceKey="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation.overviewRuler"
            overviewRulerPreferenceValue="true"
            presentationLayer="1"
            showInNextPrevDropdownToolbarAction="false"
            showInNextPrevDropdownToolbarActionKey="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation.showInNextPrev"
            symbolicIcon="error"
            textPreferenceKey="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation.text"
            textPreferenceValue="false"
            textStylePreferenceValue="NONE"
            verticalRulerPreferenceKey="me.glindholm.plugin.bracketeer2.unmatchedBracket.annotation.verticalRuler"
            verticalRulerPreferenceValue="true">
      </specification>
   </extension>

</plugin>
